.table .table-light th {
    color: #525f7f;
    background-color: #f5f9fc;
}
 .table thead th {
    text-transform: uppercase;
    letter-spacing: .025em;
    white-space: nowrap;
    vertical-align: middle;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: .675rem;
    font-weight: 500;
}
.table>:not(caption)>*>* {
    border-bottom-width: 1px;
    padding: 1rem 1.5rem;
}
.table td {
    white-space: nowrap;
    font-size: .8125rem;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}





